<tr i-filter ng-controller="filtersPhraseCtrl as phrase">
  <th i-filter-name>
    <label for="filtersPhrase">Search:</label>
  </th>

  <td>
    <input
      i-filter-textInput
      i-filter-boxInput
      type="text"
      id="filtersPhrase"
      name="filtersPhrase"
      i-filter-textInput
      placeholder="Any"
      ng-model="phrase.value"
      ng-change="phrase.dispatchValue()"
    >
  </td>
</tr>
