<div ng-app="linkterAppModule" i-area="medium">
  <script>
    window.albumsData = {{ site.data.albums | jsonify }};
  </script>

  <div ng-show="::false" i-card i-text="centered">
    Loading&hellip;
  </div>

  <h1>Top albums by decade</h1>

  {% include filtersModule/filters.liquid %}

  {% include albumsModule/albums.liquid %}

  <footer i-text="centered">
    <a href="{{site.rootSiteUrl}}">&larr;</a>
  </footer>
</div>
