/*******************************************************************************
album
*******************************************************************************/

[i-album-title] {
  font-weight: 700;
}

[i-album-metaPart] {
  white-space: nowrap;
}

[i-album-metaPart] + [i-album-metaPart]::before {
  content: "\2014";
}

[i-album-stars] {
  color: var(--c-prelude);
}
